body {
    /*removing the default margin and padding of body*/
    margin: 0;
    padding: 0;
    /* -- */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    height: 130px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.item {
    /* background-color: antiquewhite; */
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number {
    background-color: rgb(74, 125, 254);
    padding: 3px 10px;
    color: white;
    border-radius: 15px;
    font-weight:600;
}

p {
    font-family: Roboto, Arial;
    margin: 0px;
}